{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Components": "./src/Components",
          "@Bundles": "./src/Bundles",
          "@Utils": "./src/Utils"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
